<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobiblanc.gbam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.mobiblanc.gbam.BaridAlMaghrib"
        android:allowBackup="false"
        android:icon="@mipmap/appicone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_traffic_config"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.mobiblanc.gbam.views.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobiblanc.gbam.views.cart.CartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mobiblanc.gbam.views.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobiblanc.gbam.views.account.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.mobiblanc.gbam.views.tracking.TrackingActivity" />


        <service
            android:name=".firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>